
<!-- リスポンシブdiv -->
<!-- <div class="respons"> -->
   

<div class="report_show_background">
   <div class="fising_report_show">
      <div class="row">  
         <div class="col-md-3 col-xs-12">
            <div class=spot_subtitle>
               <h4><%= @f_report.fishing_spot.fishing_spot_name %></h4>
               <%= attachment_image_tag @f_report.fishing_spot, :fishing_spot_image, :fill, 200, 200, format: "jpg" %><br>
               <div class=spot_subtitle_text>
                  <%= @f_report.fishing_spot.fishing_spot_body %>
               </div>
            </div>
         </div>
         <div class="col-md-6 col-xs-12">
            <div class="show_image_box">
                  <div class="slider-for">
                     <div><%= attachment_image_tag @f_report, :a_image, format: 'jpg' %></div>
                     <div><%= attachment_image_tag @f_report, :b_image, format: 'jpg' %></div>
                     <div><%= attachment_image_tag @f_report, :c_image, format: 'jpg' %></div>
                     <div><%= attachment_image_tag @f_report, :d_image, format: 'jpg' %></div>
                     <div><%= attachment_image_tag @f_report, :e_image, format: 'jpg' %></div>
                  </div>
                  <div class="slider-nav">
                     <%= attachment_image_tag @f_report, :a_image, :fill, 300, 300, format: 'jpg' %>
                     <%= attachment_image_tag @f_report, :b_image, :fill, 300, 300, format: 'jpg' %>
                     <%= attachment_image_tag @f_report, :c_image, :fill, 300, 300, format: 'jpg' %>
                     <%= attachment_image_tag @f_report, :d_image, :fill, 300, 300, format: 'jpg' %>
                     <%= attachment_image_tag @f_report, :e_image, :fill, 300, 300, format: 'jpg' %>
                  </div>  
            </div>
            <div class="show_image_box_response">
                  <div class="response_image"><%= attachment_image_tag @f_report, :a_image, :fill, 300, 300, format: 'jpg' %></div>
                  <div class="response_image"><%= attachment_image_tag @f_report, :b_image, :fill, 300, 300, format: 'jpg' %></div>
                  <div class="response_image"><%= attachment_image_tag @f_report, :c_image, :fill, 300, 300, format: 'jpg' %></div>
                  <div class="response_image"><%= attachment_image_tag @f_report, :d_image, :fill, 300, 300, format: 'jpg' %></div>
                  <div class="response_image"><%= attachment_image_tag @f_report, :e_image, :fill, 300, 300, format: 'jpg' %></div> 
            </div>
         </div>
         <div class="col-md-3 col-xs-12 text_color">
            <h5><%= link_to user_path(@f_report.user.id) do %><%= attachment_image_tag @f_report, :a_image, :fill, 50, 50, format: 'jpg' %><%= @f_report.user.nickname %><% end %>さんからの投稿</h5>
            <% unless admin_signed_in? %>
               <% if @f_report.favorited_by?(current_user) %>
                   <%= link_to fishing_report_favorites_path(@f_report.id), method: :delete do %>
                     <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                     <%= @f_report.favorites.count %> いいね
                   <% end %>
               <% else %>
                   <%= link_to fishing_report_favorites_path(@f_report), method: :post do %>
                     <i class="fa fa-heart-o" aria-hidden="true"></i>
                     <%= @f_report.favorites.count %> いいね
                   <% end %>
               <% end %>
            <% end %>
            <h5>[釣行日]&emsp;&emsp;&emsp;<%= @f_report.fishing_date %></h5>
            <h5>[釣れた時間]&emsp;<%= @f_report.time %></h5>
            <h5>[天気]&emsp;<%= @f_report.weather %></h5>
            <h5>[サイズ]&emsp;<%= @f_report.size %>センチ</h5>
            <h5>[ルアータイプ]&emsp;<%= @f_report.lure_type.type_name %></h5>
            <h5>[レンジ]&emsp;<%= @f_report.range %></h5>
            <h5>[リトリーブ]&emsp;<%= @f_report.retrieve %></h5>
            <h5>[ルアー名]&emsp;<%= @f_report.lure_name %></h5>
            <h5>釣果報告</h5>
            <%= @f_report.fishing_body %><br>
         </div>
      </div>
      <div class="row">
         <div class="col-md-3 col-xs-12 text_color">
            <table>
               <%= form_for [@f_report, @complaint] do |f| %>
               <tr>
                  <th class="col-xs-9"><%= f.text_field :c_comment, rows:'5', class: "form-control",placeholder: "不適切な投稿を通報する" %></th>
                  <th><%= f.submit "通報する", class: "btn btn-sm btn-base-1 mt-20 pull-right" %></th>
               <% end %>
            </table>
            <% if admin_signed_in? %>
               <p>adminのみ表示</p>
               <p>通報数<%= @f_report.complaints.count %>件</p>
               <% @f_report.complaints.each do |r| %>
                 [投稿者]<br>
               <%= r.user.nickname %><br>
               　[投稿日]<br>
               <%= r.created_at.strftime('%Y/%m/%d') %><br>
                 [コメント]<br>
               <%= r.c_comment %><br>
               <%= link_to fishing_report_complaint_path(r.fishing_report_id, r.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %><button class="btn ">削除</button><br><% end %>
               <% end %>
            <% end %>
         </div>
         <div class="col-md-9 col-xs-12 report_text text_color">
            <% if flash[:notice] %><div class=notice><%= flash[:notice] %></div><% end %>
            <% if flash[:alert] %><div class=alert><%= flash[:alert] %></div><% end %>
            <table>
               <%= form_for [@f_report, @comment] do |f| %>
                  <tr>
                     <th class="col-xs-1"></th>
                     <th class="col-xs-6"><%= f.text_field :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %></th>
                     <th class="col-xs-1"><%= f.submit "送信する", class: "btn btn-sm" %></th>
                     <th class="col-xs-1"></th>
                  </tr>
               <% end %>
            </table>
            <div class="fishing_report_show_scroll table-responsive">
               <table class="text-left table ">
                  <thead>
                     <tr>
                        <th class="col-xs-1"></th>
                        <th class="col-xs-1">[投稿者]</th>
                        <th class="col-xs-5">[コメント]</th>
                        <th class="col-xs-1"></th>
                     </tr>
                  </thead>
                  <tbody class="text-left">
                     <% @f_report.report_comments.each do |r| %>
                     <tr>
                        <td class="col-xs-1"><%= r.created_at.strftime('%Y/%m/%d') %></td>
                        <td class="col-xs-1"><%= r.user.nickname %></td>
                        <td class="col-xs-5"><%= r.comment %></td>
                        <% if admin_signed_in? %>
                           <td class="col-xs-1"><%= link_to fishing_report_report_comment_path(r.fishing_report_id, r.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %><button class="btn-danger">削除</button><br><% end %></td>
                        <% elsif user_signed_in? %>
                           <% if current_user.id == r.user.id %>
                           <td class="col-xs-1"><%= link_to fishing_report_report_comment_path(r.fishing_report_id, r.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %><button class="btn-danger">削除</button><br><% end %></td>
                           <% else %>
                           <% end %>
                        <% else %>
                        <% end %>
                     </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         </div>
      </div>    
   </div>
</div>

