<div class="mypage_bg">
	<div class="mypage_main">
		<div class="row">
			<% if flash[:notice] %><div class=notice><%= flash[:notice] %></div><% end %>
			<div class="col-md-4">
				<div class="mypage_show">
					<h4 class="users_names"><strong><%= @user.last_name %><%= @user.first_name %>さんのマイページ</strong></h4>
					<div><%= link_to "基本情報の編集", edit_user_path(@user.id), class: 'btn btn-success btn-user-show' %><%= link_to "退会", user_path(current_user.id), class: 'btn btn-danger btn-user-show', method: :'delete', "data-confirm" => "本当に退会しますか？" %></div><br>
					<%= attachment_image_tag @user, :user_image, :fill, 200, 200, fallback: "noimage2.png", format: "jpg", class: "user_image" %>
					<h4>introduction</h4>
					<div class=introduction><span><%= @user.introduction %></span></div>
					<div class="table_right"></div>
					<h4>フォロワー数
					<%= link_to current_user.followers.count, tmp_path(current_user.id, "フォロワー"), class: "forf", remote: true %>人</h4>
					<%= link_to "釣果レポートを投稿", new_fishing_report_path, class: 'btn btn-info' %>
					<%= link_to "TACKLE紹介を投稿", new_tackle_report_path, class: 'btn btn-info' %>
				</div>
			</div>
			<div class="col-md-8">
				<div class=mypage_scroll>
					<table  class="table">
						<div align="center"><h4>フォローユーザー<%= @user.followed_users.count %>人の最新投稿</h4></div>
						<% @user.followed_users.each do |user| %>
							<% if FishingReport.exists?(user_id: user) %>
								<% f_report = FishingReport.where(user_id: user).last %>
								<tr>
									<td><%= f_report.created_at.strftime('%Y/%m/%d') %></td>
									<td><%= link_to user_path(user.id) do %><%= f_report.user.nickname %><% end %></td>
									<td><%= link_to fishing_report_path(f_report.id) do %><%= attachment_image_tag f_report, :a_image, :fill, 50, 50, format: 'jpeg' %><% end %></td>
									<td><%= f_report.fishing_date %></td>
									<td><%= f_report.weather %></td>
									<td><%= f_report.fishing_spot.fishing_spot_name %></td>
									<td><%= f_report.time %></td>
									<td><%= f_report.size %>cm</td>
									<td><%= f_report.range %></td>
								</tr>
							<% end %>
						<% end %>	
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div align="center"><h4>釣果投稿一覧</h4></div>
				<div class=mypage_scroll>				
					<table  class="table">
						<thead>
							<tr>
								<th>投稿を読む</th>
								<th>投稿日</th>
								<th></th>
								<th>釣行日</th>
								<th>天気</th>
								<th>ポイント名</th>
								<th>時間</th>
								<th>MAX</th>
								<th>レンジ</th>
								<th class="col-md-1"></th>
							</tr>
						</thead>
						<tbody>
						<% @user.fishing_reports.each do |report| %>
							<tr>
								<td><%= link_to fishing_report_path(report.id) do %>投稿を読む<% end %></td>
								<td><%= report.created_at.strftime('%Y/%m/%d') %></td>
								<td><%= link_to fishing_report_path(report.id) do %><%= attachment_image_tag report, :a_image, :fill, 50, 50, format: 'jpeg' %><% end %></td>
								<td><%= report.fishing_date %></td>
								<td><%= report.weather %></td>
								<td><%= report.fishing_spot.fishing_spot_name %></td>
								<td><%= report.time %></td>
								<td><%= report.size %></td>
								<td><%= report.range %></td>
								<td class="col-md-1"><%= link_to "編集", edit_fishing_report_path(report.id), class: 'btn btn-success btn-user-show' %><br>
									<%= link_to "削除", fishing_report_path(report.id), class: 'btn btn-danger btn-user-show', method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
							</tr>
						<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div align="center"><h4>TACKLE投稿一覧</h4></div>
				<div class=mypage_scroll>
					<table  class="table">
						<thead>
							<tr>
								<th class="col-md-1">投稿日</th>
								<th>オススメ度</th>
								<th class="col-md-1">イメージ画像</th>
								<th class="col-md-1">メーカー</th>
								<th class="col-md-1">ルアータイプ</th>
								<th class="col-md-1">ルアー名</th>
								<th class="col-md-5">紹介文</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% @user.tackle_reports.each do |tackle| %>
							<tr>
								<th class="col-md-1"><%= tackle.created_at.strftime('%Y/%m/%d') %></th>
								<th><%= tackle.evaluation %></th>
								<th class="col-md-1"><%= link_to tackle_reports_path do %><%= attachment_image_tag tackle, :tackle_image, :fill, 100, 100, format: "jpg" %><% end %></th>
								<th class="col-md-1"><%= tackle.maker.maker_name %></th>
								<th class="col-md-1"><%= tackle.lure_type.type_name %></th>
								<th class="col-md-1"><%= tackle.tackle_name %></th>
								<th class="col-md-5"><%= tackle.tackle_body %></th>
								<td class="col-md-1"><%= link_to "編集", edit_tackle_report_path(tackle.id), class: 'btn btn-success' %><br><%= link_to "削除", tackle_report_path(tackle.id), class: 'btn btn-danger', method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>


