<div class="mypage_bg">
	<div class="mypage_main">
		<div class="row">
			<div class="col-md-3">
				<div class="mypage_show">
					<h4><%= @user.nickname %>さん</h4>
					<%= attachment_image_tag @user, :user_image, :fill, 200, 200, fallback: "/images/noimage2.png", format: "jpg", class: "user_image" %>
					<h4>introduction</h4>
					「<%= @user.introduction %>」<br>
					<table>
						<tbody>
							<tr><th>フォロワー数: </th><td class="b"><%= @user.followers.count %></td></tr>
						</tbody>
					</table>
					<% if admin_signed_in? %>
					<% else %>
						<div style="content: '';display: block;clear:both;"></div>
						<% if current_user.following?(@user) %>
							<%= link_to "フォロー中", follow_path(@user.id), remote: true, class: "user_show now", data: {"id" => @user.id} %>
						<% else %>
							<%= link_to "フォローする", follow_path(@user.id), remote: true, class: "user_show yet", data: {"id" => @user.id} %>
						<% end %>
					<% end %>
				</div>
			</div>
			<div class="col-md-9">
				<div align="center"><h4><%= @user.fishing_reports.count %>件の釣果投稿</h4></div>
				<div class=mypage_scroll>
					<table  class="table">
						<thead>
							<tr>
								<th>投稿を読む</th>
								<th>投稿日</th>
								<th></th>
								<th>釣行日</th>
								<th>天気</th>
								<th>ポイント名</th>
								<th>ルアータイプ</th>
								<th>MAXサイズ</th>
								<th>コメント数</th>
								<% if admin_signed_in? %>
									<th>通報数</th>
								<% else %>
								<% end %>
							</tr>
						</thead>
						<tbody>
						<% @user.fishing_reports.each do |report| %>
							<tr>
								<td><%= link_to fishing_report_path(report.id) do %>投稿を読む<% end %></td>
								<td><%= report.created_at.strftime('%Y/%m/%d') %></td>
								<td><%= link_to fishing_report_path(report.id) do %><%= attachment_image_tag report, :a_image, :fill, 50, 50, format: 'jpeg' %><% end %></td>
								<td><%= report.fishing_date %></td>
								<td><%= report.weather %></td>
								<td><%= link_to fishing_spot_path(report.fishing_spot.id) do %><%= report.fishing_spot.fishing_spot_name %><% end %></td>
								<td><%= report.lure_type.type_name %></td>
								<td><%= report.size %>cm</td>
								<td><%= report.report_comments.count %>回</td>
								<% if admin_signed_in? %>
								<td><%= report.complaints.count %>回</td>
								<% else %>
								<% end %>
							</tr>
						<% end %>
					</tbody>
					</table>
				</div>	
				<div align="center"><h4><%= @user.tackle_reports.count %>件のTACKLE投稿</h4></div>
				<div class=mypage_scroll>
					<table  class="table">
						<thead>
							<tr>
								<th class="col-md-2">投稿日</th>
								<th>オススメ度</th>
								<th>イメージ画像</th>
								<th>ルアータイプ</th>
								<th>ルアー名</th>
							</tr>
						</thead>
						<tbody>
							<% @user.tackle_reports.each do |tackle| %>
							<tr>
								<th class="col-md-2"><%= tackle.created_at.strftime('%Y/%m/%d') %></th>
								<th><%= tackle.evaluation %></th>
								<th><%= link_to tackle_reports_path do %><%= attachment_image_tag tackle, :tackle_image, :fill, 100, 100, format: "jpg" %><% end %></th>
								<th><%= tackle.lure_type.type_name %></th>
								<th><%= tackle.tackle_name %></th>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

