<div class="row">
	<div class="col-md-3">
		<h4><%= @user.nickname %>さん</h4>
		<%= attachment_image_tag @user, :user_image, :fill, 200, 200, fallback: "noimage2.png", format: "jpg", class: "user_image" %>
		<h4>introduction</h4>
		「<%= @user.introduction %>」<br>
		<table>
			<thead></thead>
			<tbody>
				<!-- <tr><th>フォロー数: </th><td class="a"><%#= @user.followed_users.count %></td></tr> -->
				<tr><th>フォロワー数: </th><td class="b"><%= @user.followers.count %></td></tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-9">
		<table  class="table">
		<caption>釣果投稿一覧</caption>
			<thead>
				<tr>
					<th>投稿日</th>
					<th></th>
					<th>釣行日</th>
					<th>天気</th>
					<th>ポイント名</th>
					<th>MAXサイズ</th>
					<th>ルアータイプ</th>
					<th>ルアー名</th>
					<th>釣果報告</th>
				</tr>
			</thead>
			<tbody>
			<% @user.fishing_reports.each do |report| %>
				<tr>
					<td><%= report.created_at.strftime('%Y/%m/%d') %></td>
					<td><%= link_to fishing_report_path(report.id) do %><%= attachment_image_tag report, :a_image, :fill, 50, 50, format: 'jpeg' %><% end %></td>
					<td><%= report.fishing_date %></td>
					<td><%= report.weather %></td>
					<td><%= link_to fishing_spot_path(report.fishing_spot.id) do %><%= report.fishing_spot.fishing_spot_name %><% end %></td>
					<td><%= report.size %></td>
					<td><%= report.lure_type.type_name %></td>
					<td><%= report.lure_name %></td>
					<td><%= report.fishing_body %></td>
				</tr>
			<% end %>
		</tbody>
		</table>	
		<table  class="table">
		<caption>TACKLE投稿一覧</caption>
			<thead>
				<tr>
					<th class="col-md-1">投稿日</th>
					<th>オススメ度</th>
					<th class="col-md-1">イメージ画像</th>
					<th class="col-md-1">メーカー</th>
					<th class="col-md-1">ルアータイプ</th>
					<th class="col-md-1">ルアー名</th>
					<th class="col-md-6">紹介文</th>
				</tr>
			</thead>
			<tbody>
				<% @user.tackle_reports.each do |tackle| %>
				<tr>
					<th class="col-md-1"><%= tackle.created_at.strftime('%Y/%m/%d') %></th>
					<th><%= tackle.evaluation %></th>
					<th class="col-md-1"><%= link_to tackle_reports_path do %><%= attachment_image_tag tackle, :tackle_image, :fill, 100, 100, format: "jpg" %><% end %></th>
					<th class="col-md-1"><%= tackle.maker.maker_name %></th>
					<th class="col-md-1"><%= tackle.lure_type.type_name %></th>
					<th class="col-md-1"><%= tackle.tackle_name %></th>
					<th class="col-md-6"><%= tackle.tackle_body %></th>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>