<h2> ユーザー一覧</h2>
		<div  class="over_4">
			<table class="table-hover table">
				<thead class="users_index_thread">
					<tr>
						<th class="users_index_thread_th" width="50px"> ID </th>
						<th colspan="2" class="users_index_thread_th" width="150px">ユーザー名</th>
						<th colspan="2" class="users_index_thread_th" width="150px">ニックネーム</th>
						<th class="users_index_thread_th" width="200px">メールアドレス</th>
						<th colspan="2" class="users_index_thread_th">フォロー数</th>
						<th colspan="2" class="users_index_thread_th">フォロアー数</th>
						<th colspan="2" class="users_index_thread_th"> </th>
						<th colspan="2" class="users_index_thread_th"> </th>
					</tr>
				</thead>
				<tbody class="test">
					<% @users.each do |user| %>
					<tr>
						<td class="users_index_tbody_td" width="50px"> <%= user.id %> </td>
						<td colspan="2" class="users_index_tbody_td" width="150px"><%= user.last_name %><%= user.first_name %></td>
						<td colspan="2" class="users_index_tbody_td" width="150px"><%= user.nickname %></td>
						<td class="users_index_tbody_td" width="200px"> <%= user.email %> </td>
						<td><%= link_to user.followed_users.count, tmp_path(user.id, "follow"), class: "forf", remote: true %></td>
						<td><%= link_to user.followers.count, tmp_path(user.id, "follower"), class: "forf", remote: true %></td>
						<td colspan="2"> <%= link_to "編集", edit_user_path(user.id), class: 'btn btn-success' %></td>
						<td colspan="2"> <%= link_to "退会", user_path(user.id), class: 'btn btn-danger', method: :delete, "data-confirm" => "本当に退会させますか？" %> </td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
