<div class="row">  
   <div class="col-md-12">
   	<h2> ユーザー一覧</h2>
		<div  class="">
			<table class="table-hover table">
				<thead class="users_index_thread">
					<tr>
						<th> ID </th>
						<th>ユーザー名</th>
						<th>ニックネーム</th>
						<th>メールアドレス</th>
						<th>釣果投稿</th>
						<th>紹介</th>
						<th>コメント受数</th>
						<th>通報受数</th>
						<th>follow</th>
						<th>follower</th>
						<th></th>
					</tr>
				</thead>
				<tbody class="test">
					<% @users.each do |user| %>
					<tr>
						<td> <%= user.id %> </td>
						<td><%= link_to user_path(user.id) do %><%= user.last_name %><%= user.first_name %><% end %></td>
						<td><%= link_to user_path(user.id) do %><%= user.nickname %><% end %></td>
						<td><%= user.email %></td>
						<td><%= user.fishing_reports.count %>回</td>
						<td><%= user.tackle_reports.count %>回</td>
						<td><% comment_c = 0 %><% user.fishing_reports.each do |report| %><% comment_c += report.report_comments.count %><% end %><%= comment_c %>回</td>
						<td><% complaint_c = 0 %><% user.fishing_reports.each do |report| %><% complaint_c += report.complaints.count %><% end %>
							<%= complaint_c %>回</td>
						<td><%= link_to user.followed_users.count, tmp_path(user.id, "follow"), class: "forf", remote: true %>人</td>
						<td><%= link_to user.followers.count, tmp_path(user.id, "follower"), class: "forf", remote: true %>人</td>
						<td> <%= link_to "確認・編集", edit_user_path(user.id), class: 'btn btn-success' %><br><%= link_to "退会", user_path(user.id), class: 'btn btn-danger', method: :delete, "data-confirm" => "本当に退会させますか？" %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>