<div class="top_background">
	<% if flash[:notice] %>
  		<div class=notice><%= flash[:notice] %></div>
	<% end %>
	<div class=title_box><div class="title_text"><h1><span class="maintitle">BASSCOCO</span></h1></div></div>
	<div class="map_bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2 col-xs-12">
				</div>
				<div class="col-md-8 col-xs-12">
					<div class="map">
						<div><img class="map-image" src="/images/kawaguchi.jpg"></div>
					</div>
				</div>
				<div class="col-md-2 col-xs-12">
					<div class="spot_number_box">
						<table class="spot_text">
						<% @map_spots.reverse_each do |spot| %>
							<tr>
								<td><%= link_to fishing_spot_path(spot.id) do %><%= spot.fishing_spot_name %><% end %></td>
							</tr>
						<% end %>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="container-fluid">
			<div class="description">
				<div class='row'>
					<div class="col-xs-12">
						<table class= "table spot_text">
							<% @spots.each do |spot| %>
								<tr class="nomal">
									<td><%= link_to fishing_spot_path(spot.id) do %><%= attachment_image_tag spot, :fishing_spot_image, :fill, 100, 100, format: "jpg" , fallback: "/images/no_image100x100.jpg" %><% end %></td>
									<td class="col-xs-2"><%= link_to fishing_spot_path(spot.id) do %><%= spot.fishing_spot_name %><% end %></td>
									<td class="col-xs-8"><%= spot.fishing_spot_body %></td>
								</tr>
							<% end %>
							<% @spots.each do |spot| %>
								<tr>
									<div  class="response spot_text">
										<p><br><br>______________________________</p>

										<div class="col-xs-12 tttt"><%= link_to fishing_spot_path(spot.id) do %><%= attachment_image_tag spot, :fishing_spot_image, :fill, 100, 100, format: "jpg" , fallback: "/images/no_image100x100.jpg" %><% end %>
										</div>
										<div class="col-xs-12 text"><%= link_to fishing_spot_path(spot.id) do %><%= spot.fishing_spot_name %><% end %></div>
										<div class="col-xs-12 text"><%= spot.fishing_spot_body %></div>
								</tr>
							<% end %>
						</table>
						<div class=pagenate_btn>
							<%= paginate @spots, class: "pagenate" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

