<div class="top_background"></div>
	<!-- <div class="main-visual"> -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<div class="map">
					<img class="map-image" src="assets/kawaguchi.jpg">
				</div>
			</div>
			<div class="col-md-3">
				<table>
				<h4><% @spots.each do |spot| %>
					<tr>
						<td><%= link_to fishing_spot_path(spot.id) do %><%= spot.fishing_spot_name %><% end %></td>
					</tr>
				<% end %></h4>
				</table>
			</div>
		</div>
	</div>
	<div class="second-background">
		<div class="container-fluid">
			<div class="description">
				<div class='row'>
					<div class="col-md-12">
						<table class= "table point">
						<h4><% @spots.each do |spot| %>
							<tr>
								<td><%= attachment_image_tag spot, :fishing_spot_image, :fill, 100, 100, format: "jpg" , fallback: "no_image100x100.jpg" %></td>
								<td class="col-md-2"><%= spot.fishing_spot_name %></td>
								<td class="col-md-8"><%= spot.fishing_spot_body %></td>
							</tr>
						<% end %></h4>
						<%= paginate @spots, class: "pagenate" %>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>






