<div class="top_background"></div>
<div class="map_bg">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">

			</div>
			<div class="col-md-8">
				<div class="map">
					<img class="map-image" src="assets/kawaguchi.jpg">
				</div>
			</div>
			<div class="col-md-2">
				<table>
				<h4><% @map_spots.reverse_each do |spot| %>
					<tr>
						<td><%= link_to fishing_spot_path(spot.id) do %><%= spot.fishing_spot_name %><% end %></td>
					</tr>
				<% end %></h4>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="second-background">
	<div class="container-fluid">
		<div class="description">
			<div class='row'>
				<div class="col-md-12">
					<table class= "table text_box">
					<h4><% @spots.each do |spot| %>
						<tr>
							<td><%= attachment_image_tag spot, :fishing_spot_image, :fill, 100, 100, format: "jpg" , fallback: "no_image100x100.jpg" %></td>
							<td class="col-md-2"><%= spot.fishing_spot_name %></td>
							<td class="col-md-8"><%= spot.fishing_spot_body %></td>
						</tr>
					<% end %></h4>
					</table>
					<div class=pagenate_btn>
						<%= paginate @spots, class: "pagenate" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>






