<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<h3>登録ページ</h3>
			<div>
			<%= form_for(@spot) do |f| %>
			<h5>ポイント写真</h5>
			<%= f.attachment_field :fishing_spot_image, placeholder:"ポイントイメージ", class:"" %>
			<h5>No.</h5>
			<%= f.number_field :spot_number, min:0, class:"data" %>	
			<h5>釣りポイント</h5>
			<%= f.text_field :fishing_spot_name, placeholder:"釣りポイント名を入力", class:"" %>
			<h5>ポイント説明</h5>
			<%= f.text_area :fishing_spot_body, placeholder:"ポイント説明文", class:"" %><br>
			<%= f.submit class:"btn btn-primary data" %>
			<% end %>
			</div>
		</div>
		<div class="col-md-9">
			<table  class="table">
				<caption>TOP一覧</caption>
				<thead>
					<tr>
						<th></th>
						<th>No.</th>
						<th>ポイント名</th>
						<th>説明文</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<% @spots.each do |spot| %>
					<tr>
						<td><%= attachment_image_tag spot, :fishing_spot_image, :fill, 100, 100, format: "jpg" , fallback: "no_image100x100.jpg" %></td>
						<td>[<%= spot.spot_number %>]</td>
						<td class="col-md-2"><%= spot.fishing_spot_name %></td>
						<td class="col-md-7"><span><%= spot.fishing_spot_body %></span></td>
						<td><%= link_to "編集", edit_fishing_spot_path(spot.id) %></td>
						<td><%= link_to "削除", fishing_spot_path(spot.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
