<h1>Tackle紹介</h1>
<table>
	<caption>table title and/or explanatory text</caption>
	<thead>
		<tr>
			<th>紹介者</th>
			<th></th>
			<th>オススメ度</th>
			<th>メーカー</th>
			<th>ルアータイプ</th>
			<th>ルアー名</th>
			<th>紹介文</th>
		</tr>
	</thead>
	<tbody>
		<% @tackles.each do |tackle| %>
		<tr>
			<th><%= tackle.user.nickname %></th>
			<th><%= attachment_image_tag tackle, :tackle_image, :fill, 100, 100, format: "jpg" %></th>
			<th><%= tackle.evaluation %></th>
			<th><%= tackle.maker.maker_name %></th>
			<th><%= tackle.lure_type.type_name %></th>
			<th><%= tackle.tackle_name %></th>
			<th><span><%= tackle.tackle_body %></span></th>
		</tr>
		<% end %>
	</tbody>
</table>
