<div class="users_signup">
<h4><strong> 新規会員登録（下記を入力して下さい） </strong></h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
   <!--  <%#= f.label :名前（漢字） %><br /> -->
    <p> ニックネーム（ユーザー名として表示されます） </p>
    <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "ニックネーム" %>
  </div>

  <div class="field">
   <!--  <%#= f.label :名前（漢字） %><br /> -->
    <p> 名前（漢字） </p>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "姓" %>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "名" %>
  </div>

  <div class="field">
    <p> 名前フリガナ（全角カナ） </p>
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "セイ" %>
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "メイ" %>
  </div>

  <div class="field">
    <p> 電話番号（半角・ハイフン無し） </p>
    <%= f.number_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
  </div>

  <div class="field">
    <p> メールアドレス </p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <span> パスワード（半角英数字6桁以上） </span>
    <% if @minimum_password_length %>
<!--     <em>(<%#= @minimum_password_length %> characters minimum)</em> -->
    <% end %><br />
    <%= f.text_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <p> パスワード確認 </p>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class=field >

   利用規約を確認してくだい。<br>
  <%= link_to "利用規約", contract_path %><br>

    <%= f.check_box :registration_check %>
    <%= f.label :BASSCOCOPOLICYに同意する %>
  </div>



<div id="modal-main">
  
  <div class=field >
     利用規約を確認してくだい。<br>
    <%= link_to "利用規約", contract_path %><br>

    <%= f.check_box :registration_check %>
    <%= f.label :BASSCOCOPOLICYに同意する %>
  </div>
</div>
 
<!-- #contents START -->
  <div id="contents">
    
    <p><a id="modal-open">【クリックしてBASSCOCOPOLICYをお読みくだい】</a></p>
    <p class="page-txt">ここからページ本文<br>
    <br>
    ↓↓↓　スクロールしてください ↓↓↓</p>
  </div>

  <div class="actions">
    <%= f.submit '登録' %>
<!--     <button class="submit" data-action="users #users/:id/addresses/new #addresses#new"> 次へ </button> -->
  </div>

<%#= render "users/shared/links" %>


<% end %>

</div>

<!-- <div class="field text-left"> -->
  <%#= f.check_box :accepted ,{},checked_value = "true",unchecked_value = "false" %>
  <%#= f.label '利用規約、及び、個人情報の取扱に同意する' %>
<!-- </div> -->
<div class="aaa"></div>
<div class="bbb">
  <h3>釣りを楽しむために守るべきマナー</h3>
  <div class= contract_text>
    先行者に挨拶をする<br>
    釣りに限らず社会の中で基本的な所作であるが、先行者に挨拶もせずにポイントに入ってくるアングラーもいる。無言で見知らぬ人が隣で釣りをし出したら気持ちの良いものではないだろう。<br>
    <br>
    「こんにちは」と一声かけるだけでも十分なので、先行者が居たら挨拶をするようにすればお互い気持ちよく釣りをすることができる。その際に、さらに釣果を聞いたりすれば、思わぬ情報が手に入るかも。<br>
    <br>
    釣り場に割り込まない<br>
    人気のフィールドともなると、夜明けからアングラーが集まり、釣りをする場所を確保するのが難しいこともある。しかし、アングラーの間の狭いスペースに割り込んで釣りをするのは、たとえ声掛けをしたとしてもお祭りなどのトラブルの元にもなり、あまり好ましくない行為です。
    友人同士なら構わないが、自身が釣りをする十分なスペースが無い場合は空くまで待つか、他の釣り場に行くようにしよう。<br>
    <br>
    ルアー釣りの場合の注意点<br>
    ルアーのアングラーと餌釣りのアングラーがトラブルを起こすというのは良く聞く話。餌釣りのアングラーの近くで竿を振るのを避けるのが無難だが、間のスペースをしっかりとり、お祭りをしないよう注意してルアーをキャストすれば問題は無いだろう。やはりここでも、最初に挨拶をすることでトラブルを回避することができる可能性もある。<br>
    <br>
    ゴミは持ち帰る<br>
    当たり前のことであるが、最低でも自分で出したゴミは持ち帰るべき。自分のゴミでなくとも近くに落ちているゴミがあったら見過ごさずに回収しよう。<br>
    <br>
    魚を放置しない<br>
    外道が釣れるとイライラしてそのまま陸に放置するアングラーは多いが、普通のアングラーからしてみれば大変不快な行為。放置したとしても外道の数が減るわけでもなく、条例・漁業調整規則に違反しない範囲で優しくリリースしてあげよう。<br>
    <br>
    大声にも注意<br>
    仲間同士で釣りをしていると、ついつい楽しく大声で笑ったり話したりしがちだが、それを良く思わない他のアングラーもいる。決して小声で話せというわけではなく、ある程度の限度を守って会話をしよう。<br>
    <br>
    ヘッドライトを当てない<br>
    ヘッドライトは非常に光が強いものも多く、他の人に光を当てるとまぶしく視界を奪うため危険だ。なるべく人の顔を照らさないように注意しよう。<br>
    <br>
    マナーを守って快適な釣りを<br>
    守るべきマナーを挙げればきりがないが、マナーを守って、みんなで釣りを楽しみましょう。
  </div>
</div>



<style>
  .aaa {
    display:none;
    width:70%;
    height:70%;
    background-color: #fff;
    position:fixed;
    top:0;
    left:0;
    z-index: 100;
  }
  .bbb {
    display: none;
    max-width: 1000px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    color: #666666;
    z-index: 200;
    position: absolute;
  }
</style>

<script>
  $(function() {
    $(document).on("click", "#modal-open", function() {
      $('.aaa').css('display', 'block');
      $('.bbb').fadeIn();
    })
    $('.aaa').click(function(e) {
      $('.aaa').fadeOut();
      $('.bbb').fadeOut();
    })
  })
</script>


